runtime/*
!runtime/.gitkeep

error.log

nbproject/

htdocs/

vendor/

.ddev/

web/assets/*
!web/assets/.gitkeep

web/cache/*
!web/cache/.gitkeep

web/images/attachments/*
!web/images/attachments/.gitkeep

web/images/banners/*
!web/images/banners/.gitkeep

web/images/profile/*
!web/images/profile/.gitkeep

web/images/media/*
!web/images/media/.gitkeep
