
/* 
    Created on : 26 Apr, 2020, 12:02:43 PM
    Author     : deepak
*/
.userList{
    overflow: auto;
    height: 300px;
}

.msgList{
    overflow-y: scroll;
    height: 300px;    
    margin-bottom: 30px;
    width: 100%;
    padding-right: 10px;
}

.msgList ul{
    padding: 0px;
    margin: 0px;
}

.userList li{
    margin-bottom: 10px;
}
.userList li.active{
    font-weight: bold;
    color: white;
}

.userList li.active a{
    font-weight: bold;
    color: white;
}

#btnMoveTobottom{
    position: relative;    
}

.loadingImgContainer{
    position: absolute;
    width: 100px;        
    /*border: 1px solid black;*/
    margin-top: -20px;
    right: 30px;
}

.loadingImgContainer img{
    float: right;
}